<div class="container">
  <button type="button" class="btn btn-primary d-grid col-6 mx-auto mt-5">+ Add Workout Plan</button>
  <div class="card-wrapper text-center p-5">
    <h3>Personalise fitness and health</h3>
    <p>This information ensures fitness data are as accurate as possible.</p>
    <p>These data will not shared with US</p>
  </div>

  <%= simple_form_for(@user) do |f| %>
      <%# <%= f.input :age, :collection => User::AGE %>
      <%= f.input :age, input_html: { min: '0', max: '99'} %>
      <%= f.input :gender, :collection => User::GENDER %>
      <%= f.input :fitness_goal, :collection => User::FITNESS_GOAL %>
      <%= f.input :height %>
      <%= f.input :weight %>
      <%= f.submit %>
      <% end %>

  <br>

  <div class="mb-5">
    <%# Perform BMI calculation %>
     <% if @user.height.nil? || @user.weight.nil? %>
      <h2>Please update your profile</h2>
    <% else %>
      <p><strong> Your BMI: <%= @bmi.round(2) %> </strong></p>


    <% if @bmi < 18.5 %>
      <h2><strong>Status:</strong> Your are Underweight!!!</h2>
    <% elsif @bmi >= 18.5 && @bmi < 24.9 %>
      <h2><strong>Status:</strong> Congraz!! Your are Normal weight</h2>
    <% elsif @bmi >= 25 && @bmi < 29.9 %>
      <h2><strong>Status:</strong> Your are Overweight!</h2>
    <% else %>
     <h2><strong>Status:</strong> Your are Obese!! Please do exercise!!!</h2>
    <% end %>
    <% end %>
  </div>
</div>
