<div class="fixed-bottom" data-controller="sub-menu-toggle">

  <div class="navbar-user d-flex justify-content-evenly align-items-center py-2">
    <div>
      <%= link_to raw('<i class="fa-solid fa-house fa-xl"></i>'), root_path, class: "text-decoration-none text-reset" %>
    </div>

    <div>
      <%= link_to raw('<i class="fa-solid fa-comment fa-xl"></i>'), chats_path, class: "text-decoration-none text-reset"%>
    </div>

    <div>
      <% if current_user.current_plan.nil? %>
        <%#= link_to raw('<i class="fa-solid fa-plus fa-xl"></i>'), notify_path, class: "text-decoration-none text-reset" %>
        <%= link_to raw('<i class="fa-solid fa-dumbbell fa-xl"></i>'), notify_path, class: "text-decoration-none text-reset" %>
      <% else %>
        <%#= link_to raw('<i class="fa-solid fa-dumbbell fa-xl"></i>' ), plan_exercise_plan_path(current_user.current_plan, current_user.current_plan.exercise_plans.first) , class: "text-decoration-none text-reset" %>

        <%= link_to raw('<i class="fa-solid fa-dumbbell fa-xl"></i>' ), plan_exercise_plan_path(current_user.current_plan, current_user.current_plan.exercise_plans.exercise_status) , class: "text-decoration-none text-reset" %>

      <% end %>
      <%#= link_to raw('<i class="fa-solid fa-dumbbell fa-2xl"></i>'), exercise_plan_path(current_user.current_plan.exercise_plans.first), class: "text-decoration-none text-reset" %>
    </div>

    <div>
      <%= link_to raw('<i class="fa-solid fa-user fa-xl"></i>'), profile_path, class: "text-decoration-none text-reset" %>
    </div>

    <div data-action="click->sub-menu-toggle#display">
    <%# <button > %>
      <i class="fa-solid fa-bars fa-xl"></i>
    <%# </button> %>
    </div>
  </div>

  <div class="log-out-home card rounded position-absolute" data-sub-menu-toggle-target="subMenu">
    <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %>
    <%= link_to "History", plans_history_path  %>
  </div>

</div>
