<div class='row justify-content-center'>

  <div class="card-user col-10 mt-3">
    <% if current_user.gender.nil? %>
      <img src="https://www.shutterstock.com/image-vector/user-profile-icon-vector-avatar-600nw-2247726673.jpg" />
    <% elsif current_user.gender == "Female" %>
      <img src="https://t4.ftcdn.net/jpg/01/81/17/15/360_F_181171506_Kk3b3b2W6aFHXSHSZv7o7IayyLs7Vbcg.jpg" />
    <% else %>
      <img src="https://i.pinimg.com/564x/0e/9b/ce/0e9bceffda12d948ebe741b5b25dcc16.jpg"/>
    <% end %>

    <div class='card-message col-10 px-3'>
        <p class="greeting"><strong>Hi <%= current_user.username.capitalize %>,</strong></p>
        <p><i><%= OpenAiService::message(current_user) %></i></p>
    </div>
  </div>

  <div class='card col-10 py-3 my-3'>
    <%= link_to(plan_path(current_user.current_plan),{class: 'text-decoration-none'}) do  %>
      <span>Current Plan Progress</span>
      <div class="progress my-3" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar progress-bar-striped" style="width: <%=current_user.current_plan.progress_status%>%"><%= current_user.current_plan.progress_status.round(2) %>%</div>
      </div>
    <% end %>
  </div>

  <div class='card col-10 py-4'>
    <span class='mb-2 '>
      Display next 3 days exercise plan
    </span>
    <% exercise_plan_by_day = current_user.current_plan.exercise_plans.group_by(&:suggested_day) %>
      <% exercise_plan_by_day.each_with_index do | (days, exercise_plan), exercise_plan_index | %>
      <% statuses = exercise_plan.map { |plan| plan.status } %>
      <%= render "pages/daycard_condition", days:days, exercise_plan: exercise_plan, statuses: statuses, current_user: current_user, exercise_plan_index: exercise_plan_index%>
      <% end %>
  </div>
</div>
