<div class="container" data-controller="workout" data-workout-alarm-value="<%= asset_path("alarm.mp3")%>">

  <div data-workout-target="exercise">
    <%= render "exercise_plans/exercise", exercise_plan: @exercise_plan %>
  </div>

  <p class="mb-2">Enter your set details: </p>
  <%= render "exercise_plans/form", exercise_plan: @exercise_plan, tracker: @tracker %>

  <div data-workout-target="tracker">
    <% @exercise_plan.trackers.each_with_index do |tracker, index| %>
      <%= render "exercise_plans/tracker", tracker: tracker, index: index %>
    <% end %>
  </div>

  <%= render "exercise_plans/exercise_helper", exercise_plan: @exercise_plan %>
</div>
