<div class = "container mt-5">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <% @exercise_plans_by_day.each_with_index do |(suggested_day, exercise_plans_by_day), index| %>
        <div class="collape">
          <h2 class="accordion-header py-2">
            <%# use the ai-generate image service %>
            <% url =  WorkoutPlanService::set_image (exercise_plans_by_day.first.description) %>
            <%#=style="background-image: url('<%= url >')" %>

            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>" aria-expanded="true" aria-controls="collapse<%= index %>" style="background-image: url('<%= url %>')">
              <div class= "text-white mx-5">
              <h2>
                <strong>Day: <%= suggested_day %> </strong>
              </h2>
              <p> <strong>Description: <%= exercise_plans_by_day.first.description %> </strong></p>
              </div>
            </button>
          </h2>
          <div id="collapse<%= index %>" class="accordion-collapse collapse<%= index + 1 == @plan.current_day  ? ' show' : '' %>" aria-labelledby="heading<%= index %>" data-bs-parent="#accordionExample" <%= 'autofocus' if index + 1 == @plan.current_day %>>
            <% active_num = 1 %>
            <% exercise_plans_by_day.each_with_index do |exercise_plan, exercise_plan_index| %>
            <% if exercise_plan.exercise.description != "Rest day" %>

              <% if exercise_plan.status == nil && active_num == 1 && exercise_plan.suggested_day == @plan.current_day%>
                <%= link_to(plan_exercise_plan_path(exercise_plan.plan, exercise_plan), {class: "text-decoration-none text-black"}) do %>
                <div class="accordion-body border rounded-3">
                  <strong>💪Exercise <%= exercise_plan.order%>: <%= exercise_plan.exercise.title %></strong>
                  <% active_num += 1 %>
                  </div>
                <% end %>
              <% elsif exercise_plan.status == "Complete"  %>
                <%= link_to(plan_exercise_plan_path(exercise_plan.plan, exercise_plan), {class: "text-decoration-none text-black"}) do %>
                <div class="accordion-body border rounded-3">
                  <strong class = "completed">✅Exercise <%= exercise_plan.order%>: <%= exercise_plan.exercise.title %></strong>
                  <% active_num = 1 %>
                  </div>
                <% end %>

              <% elsif @plan.current_day == @plan.rest_day %>

                <% @plan.update!(current_day: @plan.current_day + 1 ) %>
              <% else %>
                <%= link_to(plan_exercise_plan_path(exercise_plan.plan, exercise_plan), {class: "text-decoration-none text-black"}) do %>
                <div class="accordion-body border rounded-3 ">
                  <strong class = "locked">🔐Exercise <%= exercise_plan.order%>: <%= exercise_plan.exercise.title %></strong>
                  </div>
                <% end %>

                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var focusButton = document.querySelector('.focus-item');
    console.log(focusButton);
    if (focusButton) {
      focusButton.click(); // Open the focused item
      setTimeout(function() {
        var panel = focusButton.closest('.accordion-item');
        if (panel) {
          panel.scrollIntoView({ behavior: 'smooth', block: 'start' });
        }
      }, 100); // Adjust the delay as needed (in milliseconds)
    }
  });
</script>
